
body {
  background: url("https://images.unsplash.com/photo-1574629810360-7efbbe195018?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1593&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: black;
  font-family: verdana;
}



input {
  border: 0;
  padding: 10px;
  font-size: 18px;
}
div.scrollmenu {
background-color: white;
overflow: auto;
white-space: nowrap;
}

div.scrollmenu a {
display: inline-block;
color: black;
text-align: center;
padding: 14px;
text-decoration: none;

}

div.scrollmenu a:hover {
background-color: #777;
}


    h1 {
    font-family: serif;
    color: white;
    position: relative;
    }
    .text {  
    font-size: 30px;
    font-family: serif;
    color: white;
    position: relative;
    }
 body {
    background: url("https://images.unsplash.com/photo-1431324155629-1a6deb1dec8d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: black;
    font-family: verdana;
}
  .header {
    font-family: serif;
    font-size: 30px;
    color: white;
}

  p {
    font-size: 22px;
  }
  input {
    border: 0;
    padding: 10px;
    font-size: 18px;
  }
  div.scrollmenu {
  background-color: white;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}
   table {
  font-family: serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  background-color: #D2FFEE;
}

tr:nth-child(even) {
  background-color: #00FFB3;
}
  body {
    background: url("https://images.unsplash.com/photo-1459865264687-595d652de67e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: black;
    font-family: verdana;
}

  div.scrollmenu {
  background-color: white;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}
    table {
  font-family: serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  background-color: #D2FFEE;
}

tr:nth-child(even) {
  background-color: #00FFB3;
}
  body {
    background: url("https://images.unsplash.com/photo-1524012435847-659cf8c3d158?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1174&q=80");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: black;
    font-family: verdana;
}
  .header {
    font-family: serif;
    font-size: 30px;
    color: white;
}

  p {
    font-size: 22px;
  }
  input {
    border: 0;
    padding: 10px;
    font-size: 18px;
  }
  div.scrollmenu {
  background-color: white;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}
  dl {
    text-align: center;
    font-family: serif;
    color: white;
    font-size: 25px;
  }
  h2{
    font-family: serif;
    font-size: 40px;
    color: white;
  }
  h3 { font-family: serif;
    font-size: 40px;
    color: white;
  }
  body {
    background: url("https://images.unsplash.com/photo-1610201417828-29dd1173d62f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: black;
    font-family: verdana;
}
  .header {
    font-family: serif;
    font-size: 30px;
    color: white;
}

  p {
    font-size: 22px;
  }
 input {
    border: 0;
    padding: 10px;
    font-size: 18px;
  }
  div.scrollmenu {
  background-color: white;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}
   table {
  font-family: serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  background-color: #D2FFEE;
}

tr:nth-child(even) {
  background-color: #00FFB3;
}
 body {
    background: url("https://media.istockphoto.com/photos/the-red-chairs-picture-id967134678?b=1&k=20&m=967134678&s=170667a&w=0&h=TbrhCer1VgJMuAwpmEPv3xPE1EB6QpFwSZqcFuW0oyI=");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: black;
    font-family: verdana;
}
  .header {
    font-family: serif;
    font-size: 30px;
    color: white;
}

  p {
    font-size: 22px;
  }
 input {
    border: 0;
    padding: 10px;
    font-size: 18px;
  }
  div.scrollmenu {
  background-color: white;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}
   table {
  font-family: serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  background-color: #D2FFEE;
}

tr:nth-child(even) {
  background-color: #00FFB3;
  }
  body {
    background: url("https://media.istockphoto.com/photos/full-stadium-and-neoned-colorful-flashlights-background-picture-id1276444914?b=1&k=20&m=1276444914&s=170667a&w=0&h=FKHO_16rIS7zdUYBJ0yWMa5MkcAGvgnhDiKOztsbgzg=");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: black;
    font-family: verdana;
}
  .header {
    font-family: serif;
    font-size: 30px;
    color: white;
}

  p {
    font-size: 22px;
  }
 input {
    border: 0;
    padding: 10px;
    font-size: 18px;
  }
  div.scrollmenu {
  background-color: white;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}
   table {
  font-family: serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  background-color: #D2FFEE;
}

tr:nth-child(even) {
  background-color: #00FFB3;
  }
 body {
    background: url("https://images.unsplash.com/photo-1546608235-3310a2494cdf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fHNvY2NlcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: black;
    font-family: verdana;
   
}
  .header {
    font-family: serif;
    font-size: 30px;
    color: white;
    left: 50%;
    text-align: center;
}

  .list1 {
    font-size: 30px;
    font-family: serif;
    color: white;
    position: relative;
    left: 35%;
  }
  input {
    border: 0;
    padding: 10px;
    font-size: 18px;
  }
  div.scrollmenu {
  background-color: white;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}
  body {
    background: url("https://images.unsplash.com/photo-1577223625816-7546f13df25d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHNvY2NlciUyMHN0YWRpdW18ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: black;
    font-family: verdana;
}
  .header {
    font-family: serif;
    font-size: 30px;
    color: white;
}

  p {
    font-size: 22px;
  }
  input {
    border: 0;
    padding: 10px;
    font-size: 18px;
  }
  div.scrollmenu {
  background-color: white;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}
  .text {
    font-size: 30px;
    font-family: serif;
    color: white;
    position: relative;
     h1 {
    font-family: serif;
    color: white;
    position: relative;
    }




