
body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: black;
  font-family: verdana;
}

div.scrollmenu {
background-color: white;
overflow: auto;
white-space: nowrap;
}

div.scrollmenu a {
display: inline-block;
color: black;
text-align: center;
padding: 14px;
text-decoration: none;

}

div.scrollmenu a:hover {
background-color: #777;
}


    h1 {
    font-family: serif;
    color: white;
    position: relative;
    }
    .text {  
    font-size: 30px;
    font-family: serif;
    color: white;
    position: relative;
    }
 
  .header {
    font-family: serif;
    font-size: 30px;
    color: white;
}

  p {
    font-size: 22px;
  }
  input {
    border: 0;
    padding: 10px;
    font-size: 18px;
  }

   table {
  font-family: serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  background-color: #D2FFEE;
}

tr:nth-child(even) {
  background-color: #00FFB3;
}
 
 

 
  dl {
    text-align: center;
    font-family: serif;
    color: white;
    font-size: 25px;
  }
  h2{
    font-family: serif;
    font-size: 40px;
    color: white;
  }
  h3 { font-family: serif;
    font-size: 40px;
    color: white;
  }

  .list1 {
    font-size: 30px;
    font-family: serif;
    color: white;
    position: relative;
    left: 35%;
  }
 
 

  .text {
    font-size: 30px;
    font-family: serif;
    color: white;
    position: relative;
     h1 {
    font-family: serif;
    color: white;
    position: relative;
    }




